@import "./assets/scss/extends";
@import "./assets/scss/tokens";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @extend %fontMerryeatherRegular;
}

h1{
  height: max-content;
  text-transform: uppercase;
  color: $aux-color-1;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 24px;
    height: 4px;
    background-color: $primary-color;
    border-radius: 12px;
    display: block;
    top: -10px;
    left: 0;
  }
}

li a {
  text-decoration: none;
  &:visited{
    color: $primary-color;
  }
}

main, .main-container {
  display: flex;
  justify-content: center;
  height: auto;
  align-items: flex-start;
  padding: 0 3rem 3rem;
}

table{
  box-shadow: 0px 0px 4px 2px #c1c1c1;
}

tr {
  font-size: 1.4rem;
  text-align: center;
}
th,
td {
  padding: 1.3rem;
  text-align: center;
  font-size: 1rem;
}
