@import "../tokens";
@import "../extends";

.footer-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  .info-pagination {
    .text-pages {
      font-size: 1.5rem;
      margin-right: 1rem;
      margin-top: -0.4rem;
    }
  }
  .footer-action__icons {
    width: 10%;
    display: flex;
    justify-content: space-around;
  }
}
