@import "../tokens";
@import "../extends";

.form-container {
  width: 50%;
  height: auto;
  box-shadow: 0px 0px 5px 2px rgb(204, 204, 204);
  margin-top: 6rem;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .inputs {
    height: inherit;
    padding: 3rem 0;
    display: flex;
    flex-flow: row wrap;
  }
}
