@import "../tokens";
@import "../extends";

.header-container {
  display: flex;
  width: 100%;
  height: auto;
  @extend %boxShadowBottom;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  img {
    width: 5%;
    margin-right: 5rem;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    li {
      text-decoration: none;
      list-style: none;
      padding: 1rem;
      font-size: 1.3rem;
      text-transform: uppercase;
      @extend %fontMerryeatherRegular;
      cursor: pointer;
      color: $primary-color;
      transition: all 100ms;
      &:hover{
        color: $tertiary-color;
      }
    }
  }
}
