@import "../tokens";
@import "../extends";

.input-search {
  border-radius: 5px;
  border: 1px solid #b5b5b5;
  width: 50%;
  background-color: #e2e1e130;
  padding: 0.5rem;
  margin-bottom: 2rem;
  &:focus {
    outline: 1px auto $primary-color;
    border-radius: 5px;
  }
}

.input-form {
  height: 30px;
  flex: 1 1 40%;
  margin: 0.5rem;
  padding: 1rem 1rem 0 0;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  &:focus {
    outline: none;
    box-sizing: border-box;
    border-bottom: 2px solid $tertiary-color;
  }
}

.error-input {
  border-bottom: 1px solid $c-error;
}

.select-form {
  height: 30px;
  flex: 1 1 40%;
  margin: 0.5rem;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  &:focus {
    outline: none;
    box-sizing: border-box;
    border-bottom: 2px solid $tertiary-color;
  }
}

.date-input-form {
  height: 30px;
  flex: 1 1 40%;
  margin: 0.5rem;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  &:focus {
    outline: none;
    box-sizing: border-box;
    border-bottom: 2px solid $tertiary-color;
  }
}

.submit-form {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: .8rem;
  background-color: $primary-color;
  color: white;
  @extend %fontMerryeatherRegular;
}

.input-form-collection {
  flex: 1 1 40%;
  display: flex;
  flex-flow: column;
  height: 5.5rem;
  position: relative;
}

.input-error {
  top: 100%;
  left: 2%;
  position: absolute;
  color: $c-error;
}
