//BRAND'S COLORS

$primary-color: #455BD9;
$secondary-color: #8A97DF;
$tertiary-color: #3546a6;
$aux-color-1: #373c59;
$aux-color-2: #1D2659;

//FEDDBACKS COLORS
$c-error: red;
$c-warning: rgb(255, 188, 2);
$c-success: rgb(109, 182, 0)





